*{
    box-sizing: border-box;
}

body{
    background: linear-gradient(336deg, rgba(3,159,220,1) 7%, rgba(0,0,70,1) 34%);
    display: flex;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    color: white;
}

h1{
    font-size: 5vh;
}

label{
    font-size: 3vh;
    margin-right: 2vh;
}

input{
    height: 4vh;
    width: 17vh;
    font-size: 2vh;
}

input:focus{
    outline: none;
}

button{
    cursor: pointer;
    width: 20vh;
    height: 5vh;
    transition: 0.5s;
}

button:hover{
    transform: scale(1.1);
}

button:active{
    transform: scale(0.9);
}

p{
    margin-right: 5px;
}

.container{
    text-align: center  ;
}

.flex{
    display: flex;
    margin: 2vh;
}